
body{
    font-family: Arial, Helvetica, sans-serif;
    
}
h3{
  text-align: center; 
}
label{
    display: inline-block;
    width: 100px;
   
  }
.form-container{
    width: 350px;
    height: 525px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: rgb(236, 190, 120);
  
}
form{
    padding-left: 9%;
}
button{
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: chocolate;
    
}